
@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.css')
  screen and (prefers-color-scheme: dark);

@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.css') screen
  and (prefers-color-scheme: light);

@import 'bootstrap/dist/css/bootstrap.min.css';
@import "bootstrap-icons/font/bootstrap-icons.css";

html { scroll-behavior: smooth; }

/* Navbar hover: slightly darker background/text */


/* Show dropdown on hover (desktop) */
@media (min-width: 992px) {
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

/* Dropdown styles for simple hover menu */
.nav-item.dropdown .dropdown-menu {
  display: none;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}



:root {
  --font-mono: Menlo, Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono', 'Courier New', Courier,
    monospace;
  --font-serif: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  --font-sans: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  --color-text-1: #000000;
  --color-text-2: #1a1a1a;
  --color-background-1: #ffffff;
  --color-background-2: #f6f8fa;
  --color-background-3: #e5e7eb;
  --color-accent: #d9450c;
  --color-background-accent: #f4cf58;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text-1: #ffffff;
    --color-text-2: #eeeeee;
    --color-background-1: #000000;
    --color-background-2: #111111;
    --color-background-3: #373737;
    --color-accent: #ffa691;
    --color-background-accent: #1f775e;
  }
}

.nav-pills .nav-link {
  transition: color 0.2s;
}

.nav-pills .nav-link:hover {
  color: #ccc !important;
  opacity: 1 !important;
  background-color: transparent !important;
}

.h-800 {
  height: 887px !important;
}
.p-100 {
  padding-left: 110px !important;
  padding-right: 110px !important;
}

.linkedin-icon i {
  color: #ffffff;       /* default white */
  font-size: 2.5rem;    /* larger size */
  transition: color 0.3s;
}

/* Hover effect */
.linkedin-icon:hover i {
  color: #f4cf58;       /* yellow accent */
}

/* Basic dropdown theming */
.dropdown-menu-dark {
  background-color: rgba(0,0,0,0.8);
  border: 0;
}
.dropdown-menu-dark a {
  background-color: rgba(0,0,0,0.8);
  color: #e3b727;
}
.dropdown-menu-dark a:hover {
  color: #c16262;
  
  
}
/* Remove arrow only for dropdowns inside .dropdown-menu-dark */
.dropdown-menu-dark ~ .nav-link.dropdown-toggle::after,
.nav .dropdown-toggle::after {
  display: none !important;
}
